<%- include("header") -%>

<body>
    <!-- Logs the date from app.js file. -->
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <!-- Writing EJS: when its html file it does not need <%  %> 
when it is js it does need <%  %> to the start and end of the lines-->
    <div class="box">
        <% for (let i = 0; i < itemsList.length; i++) {  %>
        <div class="item">
            <input type="checkbox">
            <p><%= itemsList[i].title %></p>
        </div>
        <% } %>

        <form class="" action="/" method="post">
            <input type="text" name="inputNewItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
   
<%- include("footer") -%>